/* 头尾各个页面相同的样式 */
/* 版心 */
.wrapper{
    margin: 0 auto;
    width: 1240px;
}
/* 快捷导航 */
.shortcut{
    height: 52px;
    background-color: #333;
}
.shortcut .wrapper{
    display: flex;
    justify-content: flex-end;
    height: 52px;
}
.shortcut ul{
    display: flex;
    line-height: 52px;
}
.shortcut li a{
    padding: 0 15px;
    border-right: 1px solid #999;
    font-size: 14px;
    color: #fff;
}
.shortcut li:last-child a{
     border-right: none;
}
.shortcut li .iconfont{
    margin-right: 4px;
    vertical-align: middle;
}
.shortcut li .login{
    color: #5EB69C;
}
.footer{
    height: 580px;
    background-color: #F5F5F5;
}
.service{
    padding: 60px 0;
    height: 178px;
    border-bottom: 1px solid #E8E8E8;
}
.help{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    height: 300px;
}
.service ul{
    display: flex;
    justify-content: space-evenly;
}
.service li{
    display: flex;
    width: 190px;
    height: 58px;
}
.service li h5 {
  margin-right: 20px;
  width: 58px;
  height: 58px;
  background-image: url(../images/sprite.png);
}
.service li p {
  font-size: 28px;
  line-height: 58px;
}
.service li:nth-child(2) h5 {
  background-position: 0 -58px;
}
.service li:nth-child(3) h5 {
  background-position: 0 -116px;
}
.service li:nth-child(4) h5 {
  background-position: 0 -174px;
}
/* left */
.left{
    display: flex;
}
.help .left dl {
  margin-right: 84px;
}
.help .left dl:last-child {
  margin-right: 0;
}
.help .left dt {
  margin-bottom: 30px;
  font-size: 18px;
}
.help .left dd {
  margin-bottom: 10px;
}
.help .left a {
  color: #969696;
}
.help .left .iconfont {
  color: #5EB69C;
}

/* 版权 */
.copyright {
  text-align: center;
}

.copyright p {
  margin-bottom: 10px;
  color: #A1A1A1;
}

.copyright p a {
  margin: 0 10px;
  color: #A1A1A1;
}